[Unit]
Description=Lock the screen automatically after a timeout
After=default.target
Requires=default.target

[Service]
Type=simple
Restart=always
Environment=DISPLAY=:0
ExecStart=/usr/bin/xautolock -time 10 -locker "i3lock -c 111111 -n" -killtime 15 -killer "systemctl suspend"

[Install]
WantedBy=default.target
