set -g default-terminal "screen-256color"

# remap prefix to Control + a
set -g prefix C-a
unbind C-b
bind C-a send-prefix

# Make copy/paste mode like vim
bind P paste-buffer
bind-key -T copy-mode-vi v send-keys -X begin-selection
bind-key -T copy-mode-vi y send-keys -X copy-selection
bind-key -T copy-mode-vi r send-keys -X rectangle-toggle
{{ if eq .chezmoi.os "linux" }}
bind -Tcopy-mode-vi y send -X copy-pipe "xclip -i -sel p -f | xclip -i -sel c"
{{ end }}
{{ if eq .chezmoi.os "darwin" }}
bind -T copy-mode-vi y send-keys -X copy-pipe-and-cancel "pbcopy"
{{ end }}

set -g set-clipboard off

# force a reload of the config file
unbind r
bind r source-file ~/.tmux.conf

# reduce key delay
set -s escape-time 0

# use vi keys in tmux copy mode
setw -g mode-keys vi

# make mouse scroll work
set-option -g mouse on

# make focus events work
set -g focus-events on

# retain window names after resurrect
set-option -g allow-rename off

# make tmux give me a longer history
set-option -g history-limit 4000

# TPM plugins
# prefix - I will install
set -g @plugin 'tmux-plugins/tmux-resurrect'
set -g @plugin 'tmux-plugins/tmux-continuum'
set -g @plugin 'christoomey/vim-tmux-navigator'
# set -g @plugin 'tmux-plugins/tmux-yank'

# continuum settings
set -g @continuum-boot 'on'
set -g @continuum-boot-options 'iterm,fullscreen'
set -g @continuum-restore 'on'

# Initialize TMUX plugin manager (keep this line at the very bottom of tmux.conf)
run -b '~/.tmux/plugins/tpm/tpm'
