[user]
	email = samuel.hagan@gmail.com
	name = Sam Hagan
	signingkey = "{{ .gpg_key }}"
[color]
	ui = true
[core]
	editor = nvim
[alias]
	co = checkout
	ci = commit
	st = status
	br = branch
[color]
	status = always
[commit]
	gpgsign  = true

[url "ssh://git@github.com/"]
    insteadOf = https://github.com/
